In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
emp=pd.Series(['Vishwa','Ramanesh','Bala','Siva'])
id=pd.Series([119,80,508,118])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print(result)
print(result['Emp'])

        Emp   ID
0    Vishwa  119
1  Ramanesh   80
2      Bala  508
3      Siva  118
0      Vishwa
1    Ramanesh
2        Bala
3        Siva
Name: Emp, dtype: object

In [5]:
result['Age']=pd.Series([19,20,22,19])
print(result)

        Emp   ID  Age
0    Vishwa  119   19
1  Ramanesh   80   20
2      Bala  508   22
3      Siva  118   19

In [6]:
del result['Age']
print(result)

        Emp   ID
0    Vishwa  119
1  Ramanesh   80
2      Bala  508
3      Siva  118

In [7]:
print(result.loc[1])

Emp    Ramanesh
ID           80
Name: 1, dtype: object

In [8]:
print(result[1:3])

        Emp   ID
1  Ramanesh   80
2      Bala  508

In [9]:
d2=pd.DataFrame([['Date',123],['Mark',143]],columns=['Emp','ID'])
print(result.append(d2))

        Emp   ID
0    Vishwa  119
1  Ramanesh   80
2      Bala  508
3      Siva  118
0      Date  123
1      Mark  143

C:\Users\Tcs\AppData\Local\Temp\ipykernel_9860\1079628763.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(result.append(d2))

In [10]:
print(result.drop(1))

      Emp   ID
0  Vishwa  119
2    Bala  508
3    Siva  118

In [11]:
arr=np.array(['P','a','n','d','a','s'])
a=pd.Series(arr)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [12]:
arr={'x':0.,'y':1.,'z':2.}
b=pd.Series(arr)
print(b)

x    0.0
y    1.0
z    2.0
dtype: float64

In [13]:
x=pd.Series(4,index=[0,1,2])
print(x)

0    4
1    4
2    4
dtype: int64

In [14]:
x=pd.Series([1,2,3],index=['a','b','c'])
print(x)

a    1
b    2
c    3
dtype: int64

In [15]:
a=pd.Series(data=[1,2,3,4])

In [16]:
print(a)

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
print(a.index)

RangeIndex(start=0, stop=4, step=1)

In [18]:
print(a.values)

[1 2 3 4]

In [19]:
print(a.shape)

(4,)

In [20]:
print(a.ndim)

1

In [21]:
print(a.size)

4

In [23]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [26]:
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print(info)
print(info.apply(np.sqrt))
print(info.apply(np.sum,axis=0))
print(info.apply(np.sum,axis=1))

   P  Q
0  2  7
1  2  7
2  2  7
          P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751
P     6
Q    21
dtype: int64
0    9
1    9
2    9
dtype: int64

In [27]:
info=pd.DataFrame([[1,2,3],[5,6,7],[9,6,3]],columns=['x','y','z'])
print(info)

   x  y  z
0  1  2  3
1  5  6  7
2  9  6  3

In [29]:
print(info.agg(['min','max']))

     x  y  z
min  1  2  3

In [33]:
d2=pd.DataFrame([['vishnu',123],['Mary',456],['Earwar',789]],columns=['Emp','ID'])
print(d2)

      Emp   ID
0  vishnu  123
1    Mary  456
2  Earwar  789

In [34]:
d2['Age']=[45,38,49]
print(d2)

      Emp   ID  Age
0  vishnu  123   45
1    Mary  456   38
2  Earwar  789   49

In [36]:
d=d2.assign(sex=['Male','Female','Male'])
print(d)

      Emp   ID  Age     sex
0  vishnu  123   45    Male
1    Mary  456   38  Female
2  Earwar  789   49    Male

In [39]:
info=pd.DataFrame(np.random.randn(5,2),index=(5,4,3,2,1),columns=['ran1','ran2'])
print(info)

       ran1      ran2
5 -0.770119  0.575292
4  0.363669 -0.896716
3 -1.439171  0.029252
2 -0.673314 -1.335658
1 -0.425517  0.602761

In [40]:
info2=info.sort_index()
print(info2)

       ran1      ran2
1 -0.425517  0.602761
2 -0.673314 -1.335658
3 -1.439171  0.029252
4  0.363669 -0.896716
5 -0.770119  0.575292

In [42]:
info3=info.sort_values(by='ran1')
print(info3)

       ran1      ran2
3 -1.439171  0.029252
5 -0.770119  0.575292
2 -0.673314 -1.335658
1 -0.425517  0.602761
4  0.363669 -0.896716

In [50]:
left=pd.DataFrame({'id':[1,2,3,4,5],'name':['vishwa','bala','siva','hari','ram'],'sub':['sub1','sub2','sub3','sub4','sub5']})

In [51]:
right=pd.DataFrame({'id':[1,2,3,4,5],'name':['varun','boy','sivam','raj','sam'],'sub':['sub1','sub2','sub3','sub4','sub5']})

In [52]:
print(left)

   id    name   sub
0   1  vishwa  sub1
1   2    bala  sub2
2   3    siva  sub3
3   4    hari  sub4
4   5     ram  sub5

In [53]:
print(right)

   id   name   sub
0   1  varun  sub1
1   2    boy  sub2
2   3  sivam  sub3
3   4    raj  sub4
4   5    sam  sub5

In [54]:
print(pd.merge(left,right,on='id'))

   id  name_x sub_x name_y sub_y
0   1  vishwa  sub1  varun  sub1
1   2    bala  sub2    boy  sub2
2   3    siva  sub3  sivam  sub3
3   4    hari  sub4    raj  sub4
4   5     ram  sub5    sam  sub5