In [ ]:
#experiment 9

In [3]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['one','two','three'],columns=['a','b','c'])
print(df)

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [11]:
df.to_csv('D:\emp.csv')

In [14]:
x=pd.read_csv('D:\employees.csv')
y=pd.read_csv('D:\emp.csv')
z=x.append(y)
z.to_csv('D:\merged.csv')

C:\Users\Tcs\AppData\Local\Temp\ipykernel_5772\4091345196.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  z=x.append(y)

In [20]:
df=z.sort_values(["Salary"])
print(df)
df.to_csv('D:\sort.csv')

    First Name  Gender Start Date Last Login Time    Salary  Bonus %  \
576    Michael    Male  7/30/1993         5:35 PM   35013.0   14.879
238      Kevin    Male  3/25/1982         7:31 AM   35061.0    5.128
82      Steven    Male  3/30/1980         9:20 PM   35095.0    8.379
63     Matthew    Male   1/2/2013        10:33 PM   35203.0   18.040
650    Cynthia  Female   7/5/1986         1:24 AM   35381.0   11.749
..         ...     ...        ...             ...       ...      ...
429       Rose  Female  5/28/2015         8:40 AM  149903.0    5.630
644  Katherine  Female  8/13/1996        12:21 AM  149908.0   18.912
0          NaN     NaN        NaN             NaN       NaN      NaN
1          NaN     NaN        NaN             NaN       NaN      NaN
2          NaN     NaN        NaN             NaN       NaN      NaN

    Senior Management             Team Unnamed: 0    a    b    c
576             False          Product        NaN  NaN  NaN  NaN
238             False            Legal        NaN  NaN  NaN  NaN
82               True  Client Services        NaN  NaN  NaN  NaN
63              False  Human Resources        NaN  NaN  NaN  NaN
650             False          Finance        NaN  NaN  NaN  NaN
..                ...              ...        ...  ...  ...  ...
429             False  Human Resources        NaN  NaN  NaN  NaN
644             False          Finance        NaN  NaN  NaN  NaN
0                 NaN              NaN        one  1.0  2.0  3.0
1                 NaN              NaN        two  4.0  5.0  6.0
2                 NaN              NaN      three  7.0  8.0  9.0

[1003 rows x 12 columns]

In [23]:
df=pd.read_csv('D:\sort.csv')
print(df)
print(list(df))
print(format(len(df)))

      Unnamed: 0.1 First Name  Gender Start Date Last Login Time    Salary  \
0              576    Michael    Male  7/30/1993         5:35 PM   35013.0
1              238      Kevin    Male  3/25/1982         7:31 AM   35061.0
2               82     Steven    Male  3/30/1980         9:20 PM   35095.0
3               63    Matthew    Male   1/2/2013        10:33 PM   35203.0
4              650    Cynthia  Female   7/5/1986         1:24 AM   35381.0
...            ...        ...     ...        ...             ...       ...
998            429       Rose  Female  5/28/2015         8:40 AM  149903.0
999            644  Katherine  Female  8/13/1996        12:21 AM  149908.0
1000             0        NaN     NaN        NaN             NaN       NaN
1001             1        NaN     NaN        NaN             NaN       NaN
1002             2        NaN     NaN        NaN             NaN       NaN

      Bonus % Senior Management             Team Unnamed: 0    a    b    c
0      14.879             False          Product        NaN  NaN  NaN  NaN
1       5.128             False            Legal        NaN  NaN  NaN  NaN
2       8.379              True  Client Services        NaN  NaN  NaN  NaN
3      18.040             False  Human Resources        NaN  NaN  NaN  NaN
4      11.749             False          Finance        NaN  NaN  NaN  NaN
...       ...               ...              ...        ...  ...  ...  ...
998     5.630             False  Human Resources        NaN  NaN  NaN  NaN
999    18.912             False          Finance        NaN  NaN  NaN  NaN
1000      NaN               NaN              NaN        one  1.0  2.0  3.0
1001      NaN               NaN              NaN        two  4.0  5.0  6.0
1002      NaN               NaN              NaN      three  7.0  8.0  9.0

[1003 rows x 13 columns]
['Unnamed: 0.1', 'First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary', 'Bonus %', 'Senior Management', 'Team', 'Unnamed: 0', 'a', 'b', 'c']
1003